.details-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
}

.details-title {
	font-size: 32px;
	margin-bottom: 30px;
}

.details-description{
	max-width: 500px;
	line-height: 28px;
}

.details-image, .details-content {
	margin: 0 30px;
}

.details-youtube {
	margin: 0 auto;
	display: block;
}

.button-back {
	max-width: 200px;
	display: block;
	margin: 25px auto;
	cursor: pointer;
	background-color: #000;
	transition: all .15s ease-in-out;
}

.button-back:hover {
	color: #000;
	background-color: #fff;
}